[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-bcrypt = "*"
flask-caching = "*"
flask-debugtoolbar = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-webpack = "*"
flask-wtf = "*"
gunicorn = "*"
"psycopg2" = "*"
pyjwt = "*"
rollbar = "*"
flask-moment = "*"
pytest-cov = "*"


[dev-packages]

factory-boy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"


[requires]

python_version = "3.6"
