[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
Flask-Bcrypt = "*"
Flask-Caching = "*"
Flask-DebugToolbar = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-Webpack = "*"
Flask-WTF = "*"
gunicorn = "*"
"psycopg2" = "*"
PyJWT = "*"
rollbar = "*"


[dev-packages]

factory_boy = "*"
pylint = "*"
pytest = "*"
WebTest = "*"


[requires]

python_version = "3.6"
