
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Reset Password</h1>
    <br>
    <form id="passwordResetRequestForm" class="form form-password-reset-request" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <p>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(size=64, placeholder="Enter your email address", class_="form-control")}}
        </div>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="btn btn-default btn-submit") }}</p>
    </form>
</div>
{% endblock %}

